<div class="empty-folder">
    <h2 class="empty-icon">(^_^)b</h2>
    <div class="empty-text">There is no folder or files here!</div>
    <button onclick="<%- onClick %>">Create New Folder</button>
</div>