<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- include("partials/header") %>
    <div class="container">
        <img class="icon" src="/svg/error_icon.svg" alt="Error icon">
        <h2 class="form-title"><%= errorMessage %></h2>
        <a href="/uploads">Return home</a>
    </div>
</body>
</html>