<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- include("partials/header") %>
    <div class="container">
        <div class="error-page">
            <img class="icon error-icon" src="/svg/error-icon.svg" alt="Error icon">
            <h2 class="form-title"><%= errorMessage %></h2>
            <a class="link error-link" href="javascript:history.back()">Go back</a>
            <a class="link error-link" href="/">Go home</a>
        </div>
    </div>
</body>
</html>